@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    color: #000000;
    background: #162943;
}

.navegation{
    background-color: #0E1826;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;

}
/* Caso queira editar a logo */
/* .navegation .logoimg{ */
/* } */
.navegation ul{

    display: flex;
    align-items: center;
    gap: 5rem;
}
.navegation ul li a{
    color: #fffefe;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.5s;
}
.navegation ul li a:hover{
    color: #898989;
}
.perfil{
    
    padding: 4px;
    padding-right: 50px;
    padding-left: 70px;
    border-radius: 5px;
    background-color: #0052BC;
}

.underbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    font-weight: 600;
    background-color: #ffffff;
}
.gray-bar{
    margin-left: 80px;
    color: black;
}

.spec{
    padding: 6px;
    color: white;
    background-color: #0052BC;
    margin-left: 324px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-content-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid white; */
    width: 100%;
    height: 600px;
}

    
.mid-container{
    padding: 10px;
    width: 95%;
    height: 90%;
    /* border: thin solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.left-section, .right-section{
    
    border-radius: 16px;
    /* border: thin solid white; */
}
.right-section{
    height: 90%;
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
}

.left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 90%;
    width: 20%;
}

.upper-square{
    text-align: center;
    border-radius: 16px;
    width: 100%;
    height: 30%;
    background-color: white;
}

.lower-square{
    border-radius: 16px;
    height: 70%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


#perfil-perfil{
    color: #162943;
    font-size: 50px;
    margin-top: 35px;
}

#enfeite{
    border-radius: 20px;
    background-color: #162943;
    height: 80%;
    width: 75%;
}


.barra-perfil{
    border-radius: 16px;
    background-image: url(flork.png);
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 25%;
}

.info{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 65%;
}

.baixo-cont{
    padding-left: 5px;
    padding-right: 5px;
    width: 33%;
    height: 100%;
}

.d{
    border-left: 1px solid black;
    border-right: 1px solid black;
}



.lista-spec{
    font-weight: 200;
    font-size: 14px;
    text-align: start;
}
.u{
    padding: 20px;
    display: flex;
    align-items: space-evenly;
    flex-direction: column;
    justify-content: flex-start;
}
.info-input{
    border: thin solid gray;
    padding: 5px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 11px;
}

.kaka{
    margin-left: 14px;
    width: 95%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.conquistinhas{
    width: 80px;
    height: 80px;
    border: thin solid black;
    margin-top: 50px;
    border-radius: 50px;
    padding: 10px;
}

.titulo-pc{ 
    font-family: 'Poppins', sans-serif;
    text-align: center;

}